.FlowChartMenuText
{
color: #000000;
background-color: #ffffff;
font-weight: normal;
font-size: 9pt;
}

.FlowChartHeaderText
{
color: #ffffff;
background-color: #000000;
font-weight: normal;
font-size: 9pt;

text-align: center;
}

.FlowChartSubHeaderText
{
color: #000000;
background-color: #ffffff;
font-weight: bold;
font-size: 9pt;

text-align: center;
}

.FlowChartDetailHeadText
{
color: #000000;
background-color: #999999;
font-weight: normal;
font-size: 9pt;
}

.FlowChartDetailText
{
color: #000000;
background-color: lightblue;
font-weight: normal;
font-size: 9pt;
}

.FlowChartDetailAvailableText
{
color: #000000;
background-color: yellow;
font-weight: normal;
font-size: 9pt;
}

.FlowChartDetailNoneText
{
color: #000000;
background-color: #eeeeee;
font-weight: normal;
font-size: 9pt;
}


.FlowChartDetailPositiveText
{
color: #000000;
background-color: #00a650;
font-weight: normal;
font-size: 9pt;
}

.FlowChartDetailWarningText
{
color: #000000;
background-color: #fe7e1d;
font-weight: normal;
font-size: 9pt;
}

.FlowChartDetailNegativeText
{
color: #000000;
background-color: #ff0000;
font-weight: normal;
font-size: 9pt;
}


