BODY, TABLE
{
color: #000000;
background-color: #ffffff;
font-weight: normal;
font-size: 9pt;

font-family:Tahoma, Verdana, Helvetica, sans-serif;

}

.BodyTitle
{
font-weight: bold;
font-size:  11pt;
}

.BodyDetail
{
font-weight: normal;
font-size:  9pt;
}

.BodyFooter
{
font-weight: bold;
font-size:  9pt;
}

.TableTitle
{
color: #000000;
background-color: #ffffff;
font-weight: bold;
font-size: 11pt;

text-align: center;
}

.HeaderTitle
{
color: #ffffff;
background-color: #000000;
font-weight: bold;
font-size: 11pt;

text-align: center;
}

.HeaderText
{
color: #ffffff;
background-color: #777777;
font-weight: normal;
font-size: 9pt;


}

.HeaderTextPreTotal
{
color: #ffffff;
background-color: #777777;
font-weight: normal;
font-size: 9pt;


}

.HeaderTextTotal
{
color: #ffffff;
background-color: #777777;
font-weight: normal;
font-size: 16pt;


}

.SubHeaderText			
{
color: #000000;
background-color: #ffffff;
font-weight: bold;
font-size: 9pt;

text-align: center;
}

.DetailText
{
color: #000000;
background-color: #eeeeee;
font-weight: normal;
font-size: 9pt;
}
	
.DetailTextMedium
{
color: #000000;
background-color: #dddddd;
font-weight: normal;
font-size: 9pt;
}
	
.DetailTextBold
{
color: #000000;
background-color: #eeeeee;
font-weight: bold;
font-size: 9pt;
}
	
.DetailLink
{
color: #000000;
background-color: #eeeeee;
font-weight: normal;
font-size: 9pt;
}
				
				
.FooterText
{
color: #ffffff;
background-color: #777777;
font-weight: normal;
font-size: 9pt;
}

.TopHeaderText
{
color: #ffffff;
background-color: #0000ff;
font-weight: normal;
font-size: 9pt;
}

.TopHeaderTextPrefix
{
color: #ffffff;
background-color: #0000ff;
font-weight: normal;
font-size: 9pt;


}

.TopHeaderTextLink
{
color: #ffffff;
background-color: #0000ff;
font-weight: normal;
}

.TopUpperHeaderText
{
color: #000000;
background-color: #ffffff;
font-weight: normal;
}

.TopUpperHeaderTextLink
{
color: #000000;
background-color: #ffffff;
font-weight: normal;
}

.TopRightHeaderText
{
color: #000000;
background-color: #ffffff;
font-weight: normal;
font-size: 9pt;
}

.TopRightHeaderTextLink
{
color: #000000;
background-color: #ffffff;
font-weight: normal;
}

A
{
text-decoration: 	underline;
color: #0000ff;
}

A.HeaderText, A.TopHeaderTextLink
{
color: #ffffff;
}	

A
{
text-decoration: 	underline;
color: #0000ff;
}

A:hover
{
text-decoration: 	 none;
}

.MessageText
{
color: #000000;
background-color: #eeeeee;
font-weight: bolder;
font-size: 14pt;
}

.InfoMessageText
{
color: #000000;
background-color: #eeeeee;
font-weight: bolder;
font-size: 14pt;
}

.WarningMessageText
{
color: #ffffff;
background-color: #ff0000;
font-weight: bolder;
font-size: 14pt;
}

.ErrorMessageText
{
color: #ffffff;
background-color: #ff0000;
font-weight: bold;
font-size: 14pt;
}

.DetailTextPositive
{
color: #ffffff;
background-color: #00a650;
font-weight: normal;
font-size: 9pt;
}
	
.DetailTextNeutral
{
color: #000000;
background-color: #eeeeee;
font-weight: normal;
font-size: 9pt;
}
	
.DetailTextWarning
{
color: #ffffff;
background-color: #fe7e1d;
font-weight: normal;
font-size: 9pt;
}

.DetailTextNegative
{
color: #ffffff;
background-color: #ff0000;
font-weight: normal;
font-size: 9pt;
}

.Hidden
{
position: absolute;
visibility: hidden;
left: 0in;
width: 0in;
top: 0in;
height: 0in;
clip: rect(0in 0in 0in 0in);
}


