.button
{
	background-color:Transparent;
	border-width: 0px;
	height:25px;
	background-image:url('../images/menu.jpg');
	border-top: solid 2px #aaaaaa;	
	border-bottom: solid 2px #aaaaaa;
	padding: 0px 10px 0px 10px;
	font-weight:bold;
	font-size: 9pt;	
	color: #ffffff;
	cursor:hand;
}